@font-face {
    font-family: Sumida;
    src: url("../fonts/Sumida.woff")
}

body {
    padding-top: 50px;
    font-family:'Bookman Old Style'
}

html, body {
    height: 100%;
    margin: 0;
}

h2{
    margin-top:0;
    padding-top:10px;
    padding-left:5px;
}

.navnav {
    background-color: #404952;
    height:30px;
}


.genericpage {
    background-color: #FFFBF2;
    color: #404952;
    min-height:100%;
}

.darklight {
    background-color: #404952;
    color: #FFFBF2;
    padding-right:2px;
    padding-left:2px;
}

.lightdark {
    background-color: #FFFBF2;
    color: #404952;
    padding-right: 2px;
    padding-left: 2px;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding-bottom: 50px;
}

.footer {
    height: 50px;
    margin-top: -62px;
}

.footertext {
    font-size: 12px;
    background-color: #404952;
    color: #FFFBF2;
}

.footertextgeneric {
    margin-bottom: 5px;
    font-size: 12px;
}

.fbicon {
    font-size: 20px;
    color: #3b5998;
    margin-right:1px;
}

.twittericon {
    font-size: 20px;
    color: #1DA1F2;
    margin-left:1px;
}

.message{
    font-family:Sumida;
    font-size:27px;
}

.messagebtn{
    margin-top:3px;
}

.modalmods{
    margin-top:150px;
}

.modal-body p {
    word-wrap: break-word;
}

.modalbckgrnd {
    background-image: url("../Images/parchment.png");
    min-height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.anotherbottle {
    margin-left: 20px;
    font-style: italic;
}

.btnstyles {
    background-color: #404952;
    color: #FFFBF2;
    border-color: #FFFBF2;
    
}

.btnstyles:hover {
    background-color: #404952;
    color: #FFFBF2;
    border-color: #FFFBF2;
}

.btnstyles:active, .btnstyles:focus {
    background-color: #FFFBF2;
    color: #404952;
    border-color: #404952;
}

.altbtnstyles {
    background-color: #FFFBF2;
    color: #404952;
    border-color: #404952;
}

.altbtnstyles:hover {
    background-color: #FFFBF2;
    color: #404952;
    border-color: #404952;
}

.altbtnstyles:active, .altbtnstyles:focus {
    background-color: #404952;
    color: #FFFBF2;
    border-color: #FFFBF2;
}

.errormsg {
    background-color: #404952;
    color: #FFFBF2;
    font-style:italic;
    font-size:12px;
}

.mainbckgrnd {
    background-image: url("../Images/mobilebckgnd.png");
    min-height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.messagebox{
    padding-top: 100px;

}

.boundaries{
    margin-right:12px;
    margin-left:12px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
