@font-face {
    font-family: Sumida;
    src: url("../fonts/Sumida.woff")
}

body {
    padding-top: 44px;
}

html, body {
    height: 100%;
    margin: 0;
}

h2{
    margin-top:0;
    padding-top:10px;
    padding-left:5px;
}

.text-area {
    resize: none;
    margin-bottom:5px;
    width:300px;
    font-family:Sumida;
    font-size:19px;
}

textarea.form-control {
    height: 70px;
}

.mainpage{
    padding-bottom:52px;
}


@media only screen and (orientation: portrait) {
    #homepage {
        background-image: url("../Images/background.jpg");
        min-height: 100%; 
        background-position: center; 
        background-repeat: no-repeat;
        background-size: auto;
    }
}


@media only screen and (orientation: landscape) {
    #homepage {
        background-image: url("../Images/backgroundwide.jpg");
        min-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}
/*

@media only screen and (min-device-width: 829px) and (orientation: portrait) {
    #homepage {
        background-image: url("../Images/big_portrait.png");
    }
}


@media only screen and (min-device-width: 1137px) and (orientation: landscape) {
    #homepage {
        background-image: url("../Images/big_landscape.png");
    }
}
*/
        .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.threedots:after {
    content: '\2807';
    font-size: 20px;
    font-weight:bold;
    color: #FCFCFA;
    background-color: #1F2730;
}

.threedotsbtn{
    border:none;
    padding-top:2px;
    padding-bottom:2px;
}

.threedotsbtn:hover {
    background-color: #1F2730;
}

.threedotsbtn:active {
    background-color: #1F2730;
}

.navbar {
    background-color: #1F2730;
    min-height:44px;
}

.navbar-brand {
    height: 44px;
}

.navbar-toggle{
    margin-top:7px;
    margin-bottom:0px;
    margin-right:5px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #1F2730;
}

.genericpage {
    background-color: #FCFCFA;
    color: #1F2730;
}

.darklight {
    background-color: #1F2730;
    color: #FCFCFA;
    padding-right:3px;
    padding-left:3px;
    padding-top:2px;
    padding-bottom:2px;
}

.lightdark {
    background-color: #FCFCFA;
    color: #1F2730;
    padding-right: 2px;
    padding-left: 2px;
    border-radius: 4px;
}

.content {
    min-height: 100%;
    margin-bottom:50px;
}

.content-inside {
    padding-bottom: 50px;
}

.registerHeader{
    font-family:Sumida;
    font-size:28px;
    margin-bottom:10px;
}

.footer {
    height: 50px;
    /*margin-top: -52px;*/
}

.footertext {
    font-size: 18px;
    color: #1F2730;
    font-family:Sumida
}

.footertextgeneric {
    margin-bottom: 5px;
    font-size: 12px;
}

.fbicon {
    font-size: 20px;
    color: #3b5998;
    margin-right:1px;
}

.twittericon {
    font-size: 20px;
    color: #1DA1F2;
    margin-left:1px;
}

.fblogin {
    background-color: #3b5998;
    color:white;
    margin-top:5px;
    width:200px;
    border:none;
}

.fblogin:hover {
    background-color: #3b5998;
    color: white;
}

.googlelogin {
    background-color: #DB4437;
    color: white;
    margin-top: 5px;
    width: 200px;
    border: none;
}

.googlelogin:hover {
    background-color: #DB4437;
    color: white;
}

.message{
    font-family:Sumida;
    font-size:27px;
}

.messagebtn{
    margin-top:3px;
}

.modalmods{
    margin-top:120px;
}

.modal-body p {
    word-wrap: break-word;
}

.modalbckgrnd {
    /*background-color: #FBF9F5; */
    background-image: url("../Images/parchment.png");
    min-height: 100%;  
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.modal-footer {
    border: none;

}

.anotherbottle {

    font-size:33px;
    font-family:Sumida
}

.btnstyles {
    background-color: #1F2730;
    color: #FCFCFA;
    border:none;
    
}

.btnstyles:hover {
    background-color: #1F2730;
    color: #FCFCFA;
    border:none;
}

.btnstyles:active, .btnstyles:focus {
    background-color: #FCFCFA;
    color: #1F2730;
    border:none;
}

.altbtnstyles {
    background-color: #FCFCFA;
    color: #1F2730;
    border:none;
}

.altbtnstyles:hover {
    background-color: #FCFCFA;
    color: #1F2730;
    border:none;
}

.altbtnstyles:active, .altbtnstyles:focus {
    background-color: #1F2730;
    color: #FCFCFA;
    border:none;
}

.errormsg {
    font-weight: bold;
    color: #1F2730;
    background-color: #FCFCFA;
    border-radius:2px;
    font-size: 12px;
}
.errormsgwrapper {
    height: 12px;
}

.mainbckgrnd {
    /*background-image: url("../Images/background.jpg");
    min-height: 100%; /*You must set a specified height 
    background-position: left; /* Center the image 
    background-repeat: repeat; /* Do not repeat the image 
    background-size: auto /* Resize the background image to cover the entire container */
}

.messagebox{
    padding-top: 56px;
    padding-bottom:28px;

}

.boundaries{
    margin-right:12px;
    margin-left:12px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
