body {
    padding-top: 50px;
    
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
}

.content-inside {
    
    padding-bottom: 50px;
}

.footer {
    height: 50px;
    margin-top: -50px;
}

.myclass {
    background-image: url("../Images/mobilebckgnd.png");
    min-height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.messagebox{
    /*padding-top: 70px;*/
    padding-bottom: 10px;
}

.inputbtn{
    margin-top:5px;
}

.pickupbtn{
    margin-top: 3px;
}

.anothertext{
    padding-top:7px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
