@using MessageInABottle.Models
@model Messages

@{
    ViewBag.Title = "Message in a Bottle";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<center>
    <div class="form-group">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.Message, new { @class = "form-control", placeholder = "Write a message...", maxlength = 500 })

            <input type="submit" value="Send Message" class="btn btn-default" />
            <div class="@ViewBag.MessageType"> @ViewBag.MessageResponse </div>
        }


        <hr />
        <span>A bottle washes ashore...</span>

        <button class="btn btn-default" data-toggle="modal" id="displayMessage">Pick up bottle</button>

        <div class="modal fade" id="messageModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-body">
                        <span id="messageID"></span>
                    </div>

                    <div class="modal-footer">

                    </div>

                </div>
            </div>
        </div>


    </div>

</center>


<script type='text/javascript'>
$(document).ready(function () {

    $('#displayMessage').click(function () {

        $.ajax({

            url: '/Home/DisplayMessage',
            success: function (data) {

                $('#messageID').html(data);
                $('#messageModal').modal("show");
                    
            }
        });
    });

});
</script>