@{
    ViewBag.Title = "My Bottles";
}

<h2>My Bottles</h2>

<table>

    @if (ViewBag.MyBottles != null)
    {
        foreach (var m in ViewBag.MyBottles)
        {

            <tr>
                <td>@m.Item1</td>
                <td>@Html.ActionLink("Return", "UpdateBottles", new { rowid = m.Item2.ToString(), @class = "btn" })</td>
            </tr>

        }
    }


</table>